alembic==1.4.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
farm==0.8.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
farm-haystack==0.9.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
fastapi==0.68.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
greenlet==1.1.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
grpcio==1.37.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
grpcio-tools==1.37.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
gunicorn==20.1.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
httptools==0.2.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
huggingface-hub==0.0.8 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
itsdangerous==1.1.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
Jinja2==2.11.3 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
joblib==1.0.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
mlflow==1.13.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
nltk==3.6.2 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
numpy==1.21.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
oauthlib==3.1.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
pandas==1.3.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
prometheus-flask-exporter==0.18.2 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
protobuf==3.17.3 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
pydantic==1.8.2 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
pymilvus==1.1.2 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
python-editor==1.0.4 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
python-multipart==0.0.5 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
requests-oauthlib==1.3.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
sentencepiece==0.1.96 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
SPARQLWrapper==1.8.5 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
SQLAlchemy==1.4.22 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
SQLAlchemy-Utils==0.37.8 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
sqlparse==0.4.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
starlette==0.14.2 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
threadpoolctl==2.2.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
tika==1.24 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
tokenizers==0.10.3 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
-f -I --no-cache-dir --ignore-installed --ignore-requires-python --no-depshttps://download.pytorch.org/whl/torch_stable.html
torch==1.8.0+cpu -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
tox==3.24.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
transformers==4.6.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
uvicorn==0.14.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
uvloop==0.14.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
validators==0.18.2 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
websocket-client==1.1.0 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
Werkzeug==0.16.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
streamlit==0.85.1 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps
pymupdf==1.18.16 -I --no-cache-dir --ignore-installed --ignore-requires-python --no-deps